<html>
  <head>
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form id="playUrlForm">
            <div class="form-group">
              <label for="url">Url:</label>
              <input type="url" class="form-control" id="url">
            </div>
            <button type="submit" class="btn btn-default" id="playUrl">Play url</button>
            <button onclick="skipAudio()" type="button" class="btn btn-default">Skip</button>
          </form>
        </div>
      </div>
      <strong>Lista de sons</strong>
      <div class="row">
        <div class="col-8">
            <div id="cards">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <strong>Adicione um áudio</strong>
          <form id="uploadForm">
            <div class="form-group">
              <label for="name">Nome:</label>
              <input name="audioName" type="name" class="form-control" id="audioName">
              <input name="audio" type="file" id="audioFile">
            </div>
            <button type="submit" class="btn btn-default" id="uploadAudio">Upload audio</button>
          </form>
        </div>
      </div>
      <div class="alert alert-success" id="success-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Audio enviado! </strong>
        O seu audio foi enviado e sera tocado em breve.
      </div>
      <div class="alert alert-danger" id="error-alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Error! </strong>
        <p id="errorText"></p>
      </div>
    </div>
  </body>
</html>
<script>
  function playAudio(audio){
    $.ajax({
      type: 'GET',
      url: $(location).attr('href') + 'api/play/file/' + audio.id,
      beforeSend: function(request) {
        request.setRequestHeader('api-key', 'U2FsdGVkX19qtaZkpLqZOlIxAE7Zg9iafiJX+O06KIGv5tmlyWYMG1Ghd9kTuyc2s0HIc2BS9YkHJ8JNOVKG2eKRcN80+scuWyhVHIewFnzIcI2DZnel/B6Zjo4ha/xwXk2IdbSp4euXt3GPdGLh5JyTpwGP+JKZSxuk/iEb01OvvtT0hSwRuB+quJQESFdSCj817mu4GaOjRrlLV4mXqEcEU959m9jV+iyGr2z2m0Y=');
      },
      success: function(jsonData){
        $('#success-alert').fadeTo(2000, 500).slideUp(500, function(){
          $('#success-alert').slideUp(500);
        }); 
      },
      error: function(err) {
        $('#errorText').html(err.responseJSON.msg);
        $('#error-alert').fadeTo(2000, 500).slideUp(500, function(){
          $('#error-alert').slideUp(1000);
        }); 
      }
    });
  }
  function skipAudio(){
    $.ajax({
      type: 'GET',
      url: $(location).attr('href') + 'api/play/skip',
      beforeSend: function(request) {
        request.setRequestHeader('api-key', 'U2FsdGVkX19qtaZkpLqZOlIxAE7Zg9iafiJX+O06KIGv5tmlyWYMG1Ghd9kTuyc2s0HIc2BS9YkHJ8JNOVKG2eKRcN80+scuWyhVHIewFnzIcI2DZnel/B6Zjo4ha/xwXk2IdbSp4euXt3GPdGLh5JyTpwGP+JKZSxuk/iEb01OvvtT0hSwRuB+quJQESFdSCj817mu4GaOjRrlLV4mXqEcEU959m9jV+iyGr2z2m0Y=');
      },
      success: function(jsonData){
        $('#success-alert').fadeTo(2000, 500).slideUp(500, function(){
          $('#success-alert').slideUp(500);
        }); 
      },
      error: function(err) {
        $('#errorText').html(err.responseJSON.msg);
        $('#error-alert').fadeTo(2000, 500).slideUp(500, function(){
          $('#error-alert').slideUp(1000);
        }); 
      }
    });
  }
  $(document).ready(function(){
    $('#success-alert').hide();
    $('#error-alert').hide();
    $('form').submit(function(e){
      e.preventDefault(e);
      switch(e.target.id){
        case 'playUrlForm':
          $.ajax({
            type: 'GET',
            url: $(location).attr('href') + 'api/play/stream?url=' + $('#url').val(),
            beforeSend: function(request) {
              request.setRequestHeader('api-key', 'U2FsdGVkX19qtaZkpLqZOlIxAE7Zg9iafiJX+O06KIGv5tmlyWYMG1Ghd9kTuyc2s0HIc2BS9YkHJ8JNOVKG2eKRcN80+scuWyhVHIewFnzIcI2DZnel/B6Zjo4ha/xwXk2IdbSp4euXt3GPdGLh5JyTpwGP+JKZSxuk/iEb01OvvtT0hSwRuB+quJQESFdSCj817mu4GaOjRrlLV4mXqEcEU959m9jV+iyGr2z2m0Y=');
            },
            success: function(jsonData){
              $('#success-alert').fadeTo(2000, 500).slideUp(500, function(){
                $('#success-alert').slideUp(500);
              }); 
            },
            error: function(err) {
              $('#errorText').html(err.responseJSON.msg);
              $('#error-alert').fadeTo(2000, 500).slideUp(500, function(){
                $('#error-alert').slideUp(1000);
              }); 
            }
          });
          break;

        case 'uploadForm':
          var formData = new FormData(this);
          $.ajax({
            type: 'POST',
            url: $(location).attr('href') + 'api/upload',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function(request) {
              request.setRequestHeader('api-key', 'U2FsdGVkX19qtaZkpLqZOlIxAE7Zg9iafiJX+O06KIGv5tmlyWYMG1Ghd9kTuyc2s0HIc2BS9YkHJ8JNOVKG2eKRcN80+scuWyhVHIewFnzIcI2DZnel/B6Zjo4ha/xwXk2IdbSp4euXt3GPdGLh5JyTpwGP+JKZSxuk/iEb01OvvtT0hSwRuB+quJQESFdSCj817mu4GaOjRrlLV4mXqEcEU959m9jV+iyGr2z2m0Y=');
            },
            success: function(jsonData){
              $('#success-alert').fadeTo(2000, 500).slideUp(500, function(){
                $('#success-alert').slideUp(500);
              }); 
            },
            error: function(err){
              $('#errorText').html(err.responseJSON.msg);
              $('#error-alert').fadeTo(2000, 500).slideUp(500, function(){
                $('#error-alert').slideUp(1000);
              }); 
            }
          });
          break;
      }
    
    });
    $.ajax({
      type: 'GET',
      url: $(location).attr('href') + 'api/audios',
      //contentType: "application/json; charset=utf-8",
      //data: JSON.stringify(itemInfo),
      //dataType: "json",
      beforeSend: function(request) {
        request.setRequestHeader('api-key', 'U2FsdGVkX19qtaZkpLqZOlIxAE7Zg9iafiJX+O06KIGv5tmlyWYMG1Ghd9kTuyc2s0HIc2BS9YkHJ8JNOVKG2eKRcN80+scuWyhVHIewFnzIcI2DZnel/B6Zjo4ha/xwXk2IdbSp4euXt3GPdGLh5JyTpwGP+JKZSxuk/iEb01OvvtT0hSwRuB+quJQESFdSCj817mu4GaOjRrlLV4mXqEcEU959m9jV+iyGr2z2m0Y=');
      },
      success: function(jsonData) {
        if (jsonData && jsonData.msg.length > 0){
          jsonData.msg.forEach(function(audio){
            var button = '<button onclick="playAudio(this)" type="button" id="' + audio.id + '" class="btn btn-info btn-lg">' + audio.name + '</button>';
            $('#cards').append(button);
          });
        }
      },
      error: function(errorData) {
        console.log(errorData);
        //showInfoModal(errorData.responseJSON.title, errorData.responseJSON.body);
        //$('#' + this.id).removeClass('disabled');
      }
    });
  });
</script>